.div-wrapper {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.div-wrapper .div {
  background-color: #ffffff;
  height: 1633px;
  overflow: hidden;
  position: relative;
  width: 1440px;
}

.div-wrapper .overlap {
  height: 1107px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.div-wrapper .overlap-group {
  height: 1052px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.div-wrapper .element {
  height: 992px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 60px;
  width: 258px;
}

.div-wrapper .image {
  height: 992px;
  left: 667px;
  position: absolute;
  top: -5456px;
  width: 258px;
}

.div-wrapper .overlap-2 {
  height: 992px;
  left: -2px;
  position: absolute;
  top: 21px;
  width: 260px;
}

.div-wrapper .overlap-wrapper {
  background-color: #ffffff;
  height: 992px;
  left: 3px;
  position: absolute;
  top: 0;
  width: 256px;
}

.div-wrapper .overlap-3 {
  height: 971px;
  position: relative;
}

.div-wrapper .menu {
  height: 40px;
  left: 0;
  opacity: 0.88;
  overflow: hidden;
  position: absolute;
  top: 48px;
  width: 256px;
}

.div-wrapper .img {
  height: 40px;
  left: 666px;
  position: absolute;
  top: -5525px;
  width: 256px;
}

.div-wrapper .overlap-group-2 {
  background-image: url(https://c.animaapp.com/M6CQlybR/img/bg-fill-13.svg);
  background-size: 100% 100%;
  height: 40px;
  left: 0;
  position: absolute;
  top: 0;
  width: 256px;
}

.div-wrapper .text-wrapper-2 {
  color: #1677ff;
  font-family: "ABeeZee", Helvetica;
  font-size: 14px;
  font-style: italic;
  font-weight: 400;
  left: 52px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: 9px;
  white-space: nowrap;
}

.div-wrapper .icon-line-antdesign {
  background-color: #ffffff;
  height: 16px;
  left: 24px;
  opacity: 0.88;
  position: absolute;
  top: 12px;
  width: 16px;
}

.div-wrapper .ant-design {
  background-image: url(https://c.animaapp.com/M6CQlybR/img/---12.svg);
  background-size: 100% 100%;
  height: 12px;
  left: 2px;
  position: relative;
  top: 2px;
  width: 12px;
}

.div-wrapper .image-2 {
  height: 12px;
  left: 0;
  position: absolute;
  top: 0;
  width: 12px;
}

.div-wrapper .img-2 {
  height: 16px;
  left: 224px;
  position: absolute;
  top: 12px;
  width: 16px;
}

.div-wrapper .image-3 {
  height: 971px;
  left: 255px;
  position: absolute;
  top: 0;
  width: 1px;
}

.div-wrapper .twenty-four-menu {
  background-image: url(https://c.animaapp.com/M6CQlybR/img/bg-fill-12.svg) !important;
  left: 2px !important;
  position: absolute !important;
  top: 239px !important;
}

.div-wrapper .overlap-group-wrapper {
  background-color: #ffffff;
  height: 40px;
  left: 4px;
  position: absolute;
  top: 387px;
  width: 256px;
}

.div-wrapper .overlap-4 {
  background-image: url(https://c.animaapp.com/M6CQlybR/img/bg-fill-10.svg);
  background-size: 100% 100%;
  height: 40px;
  position: relative;
}

.div-wrapper .text-wrapper-3 {
  color: #000000e0;
  font-family: "ABeeZee", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 52px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: 9px;
  white-space: nowrap;
}

.div-wrapper .image-wrapper {
  background-image: url(https://c.animaapp.com/M6CQlybR/img/---10.svg);
  background-size: 100% 100%;
  height: 12px;
  left: 2px;
  position: relative;
  top: 2px;
  width: 12px;
}

.div-wrapper .menu-2 {
  background-color: #ffffff;
  height: 40px;
  left: 0;
  position: absolute;
  top: 288px;
  width: 256px;
}

.div-wrapper .overlap-5 {
  background-image: url(https://c.animaapp.com/M6CQlybR/img/bg-fill-9.svg);
  background-size: 100% 100%;
  height: 40px;
  left: 2px;
  position: relative;
  width: 254px;
}

.div-wrapper .text-wrapper-4 {
  color: #000000e0;
  font-family: "ABeeZee", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 50px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: 9px;
  white-space: nowrap;
}

.div-wrapper .menu-3 {
  background-color: #ffffff;
  height: 40px;
  left: 4px;
  position: absolute;
  top: 288px;
  width: 256px;
}

.div-wrapper .overlap-6 {
  background-image: url(https://c.animaapp.com/M6CQlybR/img/bg-fill-8.svg);
  background-size: 100% 100%;
  height: 40px;
  position: relative;
}

.div-wrapper .menu-4 {
  background-color: #ffffff;
  height: 40px;
  left: 3px;
  position: absolute;
  top: 190px;
  width: 256px;
}

.div-wrapper .overlap-7 {
  background-image: url(https://c.animaapp.com/M6CQlybR/img/bg-fill-7.svg);
  background-size: 100% 100%;
  height: 40px;
  position: relative;
}

.div-wrapper .menu-5 {
  background-color: #ffffff;
  height: 40px;
  left: 3px;
  position: absolute;
  top: 436px;
  width: 256px;
}

.div-wrapper .overlap-8 {
  background-image: url(https://c.animaapp.com/M6CQlybR/img/bg-fill-6.svg);
  background-size: 100% 100%;
  height: 40px;
  position: relative;
}

.div-wrapper .menu-6 {
  background-color: #ffffff;
  height: 40px;
  left: 2px;
  position: absolute;
  top: 485px;
  width: 256px;
}

.div-wrapper .overlap-9 {
  background-image: url(https://c.animaapp.com/M6CQlybR/img/bg-fill-13.svg);
  background-size: 100% 100%;
  height: 40px;
  position: relative;
}

.div-wrapper .menu-7 {
  background-color: #ffffff;
  height: 40px;
  left: 4px;
  position: absolute;
  top: 338px;
  width: 256px;
}

.div-wrapper .overlap-10 {
  background-image: url(https://c.animaapp.com/M6CQlybR/img/bg-fill-4.svg);
  background-size: 100% 100%;
  height: 40px;
  position: relative;
}

.div-wrapper .menu-8 {
  background-color: #ffffff;
  height: 40px;
  left: 1px;
  position: absolute;
  top: 141px;
  width: 256px;
}

.div-wrapper .overlap-11 {
  background-image: url(https://c.animaapp.com/M6CQlybR/img/bg-fill-3.svg);
  background-size: 100% 100%;
  height: 40px;
  left: 1px;
  position: relative;
  width: 255px;
}

.div-wrapper .text-wrapper-5 {
  color: #000000e0;
  font-family: "ABeeZee", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 51px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: 9px;
  white-space: nowrap;
}

.div-wrapper .menu-9 {
  background-color: #ffffff;
  height: 40px;
  left: 1px;
  position: absolute;
  top: 92px;
  width: 256px;
}

.div-wrapper .overlap-12 {
  background-image: url(https://c.animaapp.com/M6CQlybR/img/bg-fill-2.svg);
  background-size: 100% 100%;
  height: 40px;
  left: 1px;
  position: relative;
  width: 255px;
}

.div-wrapper .jiangtan {
  height: 16px;
  left: 127px;
  position: absolute;
  top: 104px;
  width: 16px;
}

.div-wrapper .jiangtan-2 {
  height: 16px;
  left: 155px;
  position: absolute;
  top: 153px;
  width: 16px;
}

.div-wrapper .jiangtan-3 {
  height: 16px;
  left: 143px;
  position: absolute;
  top: 202px;
  width: 16px;
}

.div-wrapper .false-false-true {
  height: 66px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.div-wrapper .view-wrapper {
  background-image: url(https://c.animaapp.com/M6CQlybR/img/---1-2.svg);
  background-size: 100% 100%;
  height: 47px;
  left: 354px;
  position: absolute;
  top: 129px;
  width: 47px;
}

.div-wrapper .view {
  height: 27px;
  left: 13px;
  position: relative;
  top: 10px;
  width: 26px;
}

.div-wrapper .image-4 {
  height: 27px;
  left: 313px;
  position: absolute;
  top: -5525px;
  width: 15px;
}

.div-wrapper .text-wrapper-6 {
  color: #ffffff;
  font-family: "ABeeZee", Helvetica;
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: 27px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.div-wrapper .element-2 {
  background-image: url(https://c.animaapp.com/M6CQlybR/img/---1-2.svg);
  background-size: 100% 100%;
  height: 47px;
  left: 354px;
  position: absolute;
  top: 674px;
  width: 47px;
}

.div-wrapper .image-5 {
  height: 27px;
  left: 313px;
  position: absolute;
  top: -6070px;
  width: 15px;
}

.div-wrapper .view-2 {
  height: 27px;
  left: 421px;
  position: absolute;
  top: 140px;
  width: 162px;
}

.div-wrapper .image-6 {
  height: 22px;
  left: 667px;
  position: absolute;
  top: -5396px;
  width: 68px;
}

.div-wrapper .text-wrapper-7 {
  color: #000000;
  font-family: "ABeeZee", Helvetica;
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: 27px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.div-wrapper .view-3 {
  height: 27px;
  left: 421px;
  position: absolute;
  top: 685px;
  width: 122px;
}

.div-wrapper .image-png {
  height: 111px;
  left: 412px;
  position: absolute;
  top: 193px;
  width: 125px;
}

.div-wrapper .image-png-2 {
  height: 111px;
  left: 412px;
  position: absolute;
  top: 339px;
  width: 125px;
}

.div-wrapper .image-png-3 {
  height: 111px;
  left: 412px;
  position: absolute;
  top: 494px;
  width: 125px;
}

.div-wrapper .image-png-4 {
  height: 111px;
  left: 816px;
  position: absolute;
  top: 193px;
  width: 125px;
}

.div-wrapper .image-png-5 {
  height: 111px;
  left: 816px;
  position: absolute;
  top: 339px;
  width: 125px;
}

.div-wrapper .image-png-6 {
  height: 111px;
  left: 816px;
  position: absolute;
  top: 494px;
  width: 125px;
}

.div-wrapper .image-png-7 {
  height: 113px;
  left: 552px;
  position: absolute;
  top: 193px;
  width: 118px;
}

.div-wrapper .image-png-8 {
  height: 113px;
  left: 552px;
  position: absolute;
  top: 341px;
  width: 118px;
}

.div-wrapper .image-png-9 {
  height: 113px;
  left: 552px;
  position: absolute;
  top: 496px;
  width: 118px;
}

.div-wrapper .image-png-10 {
  height: 113px;
  left: 955px;
  position: absolute;
  top: 193px;
  width: 118px;
}

.div-wrapper .image-png-11 {
  height: 113px;
  left: 955px;
  position: absolute;
  top: 341px;
  width: 118px;
}

.div-wrapper .image-png-12 {
  height: 113px;
  left: 955px;
  position: absolute;
  top: 496px;
  width: 118px;
}

.div-wrapper .true-false-true {
  height: 24px;
  left: 426px;
  position: absolute;
  top: 310px;
  width: 98px;
}

.div-wrapper .true-false-true-2 {
  height: 24px;
  left: 426px;
  position: absolute;
  top: 456px;
  width: 98px;
}

.div-wrapper .true-false-true-3 {
  height: 24px;
  left: 426px;
  position: absolute;
  top: 611px;
  width: 98px;
}

.div-wrapper .true-false-true-4 {
  height: 24px;
  left: 829px;
  position: absolute;
  top: 310px;
  width: 98px;
}

.div-wrapper .true-false-true-5 {
  height: 24px;
  left: 829px;
  position: absolute;
  top: 456px;
  width: 98px;
}

.div-wrapper .true-false-true-6 {
  height: 24px;
  left: 829px;
  position: absolute;
  top: 611px;
  width: 98px;
}

.div-wrapper .true-false-true-7 {
  height: 24px;
  left: 562px;
  position: absolute;
  top: 312px;
  width: 80px;
}

.div-wrapper .true-false-true-8 {
  height: 24px;
  left: 562px;
  position: absolute;
  top: 460px;
  width: 98px;
}

.div-wrapper .true-false-true-9 {
  height: 24px;
  left: 562px;
  position: absolute;
  top: 615px;
  width: 98px;
}

.div-wrapper .true-false-true-10 {
  height: 24px;
  left: 965px;
  position: absolute;
  top: 312px;
  width: 98px;
}

.div-wrapper .true-false-true-11 {
  height: 24px;
  left: 965px;
  position: absolute;
  top: 460px;
  width: 98px;
}

.div-wrapper .true-false-true-12 {
  height: 24px;
  left: 965px;
  position: absolute;
  top: 615px;
  width: 98px;
}

.div-wrapper .true-false-true-13 {
  height: 24px;
  left: 694px;
  position: absolute;
  top: 312px;
  width: 98px;
}

.div-wrapper .true-false-true-14 {
  height: 24px;
  left: 694px;
  position: absolute;
  top: 460px;
  width: 98px;
}

.div-wrapper .true-false-true-15 {
  height: 24px;
  left: 694px;
  position: absolute;
  top: 615px;
  width: 98px;
}

.div-wrapper .true-false-true-16 {
  height: 24px;
  left: 1098px;
  position: absolute;
  top: 312px;
  width: 98px;
}

.div-wrapper .true-false-true-17 {
  height: 24px;
  left: 1098px;
  position: absolute;
  top: 460px;
  width: 98px;
}

.div-wrapper .true-false-true-18 {
  height: 24px;
  left: 1098px;
  position: absolute;
  top: 615px;
  width: 98px;
}

.div-wrapper .element-3 {
  height: 113px;
  left: 684px;
  position: absolute;
  top: 193px;
  width: 117px;
}

.div-wrapper .element-4 {
  height: 113px;
  left: 684px;
  position: absolute;
  top: 341px;
  width: 117px;
}

.div-wrapper .element-5 {
  height: 113px;
  left: 684px;
  position: absolute;
  top: 496px;
  width: 117px;
}

.div-wrapper .element-6 {
  height: 113px;
  left: 1088px;
  position: absolute;
  top: 193px;
  width: 117px;
}

.div-wrapper .element-7 {
  height: 113px;
  left: 1088px;
  position: absolute;
  top: 341px;
  width: 117px;
}

.div-wrapper .element-8 {
  height: 113px;
  left: 1088px;
  position: absolute;
  top: 496px;
  width: 117px;
}

.div-wrapper .false-false-false {
  height: 36px;
  left: 421px;
  position: absolute;
  top: 907px;
  width: 320px;
}

.div-wrapper .false-false-false-2 {
  height: 36px;
  left: 421px;
  position: absolute;
  top: 743px;
  width: 320px;
}

.div-wrapper .false-false-false-3 {
  height: 100px;
  left: 421px;
  position: absolute;
  top: 793px;
  width: 478px;
}

.div-wrapper .img-3 {
  height: 36px;
  left: 421px;
  position: absolute;
  top: 957px;
  width: 255px;
}

.div-wrapper .upload-trigger {
  background-image: url(https://c.animaapp.com/M6CQlybR/img/upload--background.svg);
  background-size: 100% 100%;
  height: 100px;
  left: 421px;
  position: absolute;
  top: 1007px;
  width: 100px;
}

.div-wrapper .upload-main {
  height: 46px;
  left: 28px;
  position: absolute;
  top: 32px;
  width: 45px;
}

.div-wrapper .menu-10 {
  height: 40px;
  left: 18px;
  overflow: hidden;
  position: absolute;
  top: 1576px;
  width: 256px;
}

.div-wrapper .image-7 {
  height: 40px;
  left: 649px;
  position: absolute;
  top: -6972px;
  width: 256px;
}

.div-wrapper .view-4 {
  background-image: url(https://c.animaapp.com/M6CQlybR/img/---7.svg);
  background-size: 100% 100%;
  height: 35px;
  left: 720px;
  position: absolute;
  top: 1334px;
  width: 170px;
}

.div-wrapper .text-wrapper-8 {
  color: #ffffff;
  font-family: "ABeeZee", Helvetica;
  font-size: 18px;
  font-weight: 400;
  left: 50px;
  letter-spacing: 0;
  line-height: 25px;
  position: absolute;
  top: 5px;
  white-space: nowrap;
}

.div-wrapper .image-8 {
  height: 36px;
  left: 2496px;
  position: absolute;
  top: -4276px;
  width: 255px;
}

.div-wrapper .main {
  height: 36px;
  left: 2236px;
  position: absolute;
  top: -4276px;
  width: 240px;
}

.div-wrapper .upoadlist-items {
  height: 36px;
  left: 421px;
  overflow: hidden;
  position: absolute;
  top: 1117px;
  width: 360px;
}

.div-wrapper .upload-progress-wrapper {
  background-image: url(https://c.animaapp.com/M6CQlybR/img/---13@2x.png);
  background-size: 100% 100%;
  height: 36px;
  left: 246px;
  position: absolute;
  top: -6513px;
  width: 360px;
}

.div-wrapper .upload-progress {
  background-image: url(https://c.animaapp.com/M6CQlybR/img/---13@2x.png);
  background-size: 100% 100%;
  height: 16px;
  width: 16px;
}

.div-wrapper .subtract-wrapper {
  background-image: url(https://c.animaapp.com/M6CQlybR/img/--.svg);
  background-size: 100% 100%;
  height: 16px;
  position: relative;
}

.div-wrapper .subtract {
  height: 16px;
  left: 0;
  position: absolute;
  top: 0;
  width: 16px;
}

.div-wrapper .overlap-13 {
  background-image: url(https://c.animaapp.com/M6CQlybR/img/upoadlist-items---------background-.svg);
  background-size: 100% 100%;
  height: 36px;
  left: 0;
  position: absolute;
  top: 0;
  width: 360px;
}

.div-wrapper .upload-fileicon-word {
  height: 20px;
  left: 12px;
  object-fit: cover;
  position: absolute;
  top: 8px;
  width: 16px;
}

.div-wrapper .text-wrapper-9 {
  color: #1d2129;
  font-family: "ABeeZee", Helvetica;
  font-size: 14px;
  font-style: italic;
  font-weight: 400;
  left: 40px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: 7px;
  white-space: nowrap;
}

.div-wrapper .element-px {
  height: 12px;
  left: 618px;
  object-fit: cover;
  position: absolute;
  top: -6500px;
  width: 12px;
}
